<p>
	<%= post.user %>
</p>

<p>
	<%= post.title %>
</p>

<p>
	<%= post.description %>
</p>

<p>
	<%= post.experience %>
</p>

<p>
	<%= post.photo_url %>
</p>

<p>
	<%= post.created_at %>
</p>

<p>
	<%= link_to "destroy Post", [post.post, post], method: :delete, data: { confirm: "Are you sure?"} %>
</p>