<% @posts.each do |post| %>
<div class="panel panel-default">
	<p>
		Title: <%= post.title %>
	</p>
	<p>
		USER: <%= post.user %>
	</p>

    <p>
		Description: <%= post.description %>
	</p>
    <p>
		Live, work, or play? <%= post.experience %>
	</p>
	<p id="userimage">
		<%=image_tag(post.photo_url,  :height => 200, :crop => :fill) %>
	</p>
	<p>
		Added: <%= post.created_at.strftime("%d %b. %Y") %>
	</p>
	<p>
		<%= link_to "Delete", [post.city, post], method: :delete %>
	</p>
</div>
<% end %>
