<% @posts.each do |post| %>
<div class="panel panel-default">
	<p>
		Title: <%= post.title %>
	</p>
	<p>
		USER: <%= post.user %>
	</p>

    <p>
		Description: <%= post.description %>
	</p>
    <p>
		Live, work, or play? <%= post.experience %>
	</p>
	<p id="userimage">
		<%=image_tag(post.photo_url,  :height => 150, :crop => :fill) %>
	</p>
	<p>
		Added: <%= post.created_at.strftime("%d %b. %Y") %>
	</p>
	<p>
    <button>
      <%= link_to 'Edit', edit_city_post_path(post.id) %>
    </button>
    <button>
      <%= link_to "Delete", [post.city, post], method: :delete %>
    </button>
	</p>

</div>

<% end %>
