<<<<<<< HEAD
<h1><%= @city.city_name %> <%= @city.state %></h1>

=======
<h2><%= @city.city_name %></h2>
>>>>>>> e45a851ab52eac7c2b003d7a3ba4f35795ab994b
<h4><%= @city.country %></h4>

<%= render 'posts/posts' %>

<h2>Share New:</h2>
<%= render 'posts/form' %>
